{{! +-------------------------------------------------+
    | "base16_highlight.mustache" v1.0.1 (2018/06/19) |
    |  by Tristano Ajmone, MIT License.               |
    +-------------------------------------------------+
}}
--[[ 									  2018/06/17 | Highlight v3.43 | Lua 5.3
================================================================================
Scheme:   Base16 "{{{scheme}}}"
Author:   {{{author}}}
License:  MIT License
Source:   {{{url}}}
================================================================================
Converted from YAML by Tristano Ajmone:
    <tajmone@gmail.com>
    https://github.com/tajmone
    https://gitlab.com/tajmone
--------------------------------------------------------------------------------
For more info on Chris Kempson's Base16, see:
    http://chriskempson.com/projects/base16
------------------------------------------------------------------------------]]
Description = "Base16 {{{scheme}}}"
--------------------------------------------------------------------------------
base00 = "#{{base00}}" --> Default Background
base01 = "#{{base01}}" --> Lighter Background (Used for status bars)
base02 = "#{{base02}}" --> Selection Background
base03 = "#{{base03}}" --> Comments, Invisibles, Line Highlighting
base04 = "#{{base04}}" --> Dark Foreground (Used for status bars)
base05 = "#{{base05}}" --> Default Foreground, Caret, Delimiters, Operators
base06 = "#{{base06}}" --> Light Foreground (Not often used)
base07 = "#{{base07}}" --> Light Background (Not often used)
base08 = "#{{base08}}" --> Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09 = "#{{base09}}" --> Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A = "#{{base0A}}" --> Classes, Markup Bold, Search Text Background
base0B = "#{{base0B}}" --> Strings, Inherited Class, Markup Code, Diff Inserted
base0C = "#{{base0C}}" --> Support, Regular Expressions, Escape Characters, Markup Quotes
base0D = "#{{base0D}}" --> Functions, Methods, Attribute IDs, Headings
base0E = "#{{base0E}}" --> Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F = "#{{base0F}}" --> Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
--------------------------------------------------------------------------------
Canvas         = { Colour = base00, Italic = false, Bold = false }

Default        = { Colour = base05, Italic = false, Bold = false }

Number         = { Colour = base09, Italic = false, Bold = false }

Operator       = { Colour = base05, Italic = false, Bold = false }

String         = { Colour = base0B, Italic = false, Bold = false }

Escape         = { Colour = base0C, Italic = false, Bold = false }
StringPreProc  = Escape

Interpolation  = { Colour = base09, Italic = false, Bold = false }

LineComment    = { Colour = base03, Italic = true,  Bold = false } --> Italic
BlockComment   = LineComment

LineNum        = { Colour = base04, Italic = false, Bold = false }

PreProcessor   = { Colour = base0F, Italic = false, Bold = false }

Keywords = {
  { Colour = base0E, Italic = false, Bold = true  }, --> kwd 1
  { Colour = base0D, Italic = false, Bold = true  }, --> kwd 2
  { Colour = base08, Italic = false, Bold = true  }, --> kwd 3
  { Colour = base0A, Italic = false, Bold = true  }, --> kwd 4
  { Colour = base0F, Italic = false, Bold = true  }, --> kwd 5
  { Colour = base09, Italic = false, Bold = true  }, --> kwd 6
}
--[[----------------------------------------------------------------------------
The MIT License

Copyright (c) 2018 Tristano Ajmone
Copyright (c) {{{author}}}

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
------------------------------------------------------------------------------]]
