/*==============================================================================
                             Color Swatches Styles                              
================================================================================
These styles are for the color swatches in the Base16 Styling Guidelines.
The following CSS block was adapted from the Base16 stylesheet:

    http://chriskempson.com/projects/base16/styles.css

This should count as "fair use" since the styles are used to reproduce the quoted
text from the original website. */

.styling:nth-of-type(1) ul {
    padding-left: 8px;
}

.styling:nth-of-type(1) ul li {
    list-style-type: none;
    padding: 0 0 0 65px;
    position: relative;
}

.styling:nth-of-type(1) ul li:before {
    content:"\00a0"; /* blank space */
    display: block;
    background-color: #181818;
    height: 1.5em;
    width: 60px;
    position: absolute;
    top: 0;
    left: -8px;
}

.styling ul li:nth-child(1)::before {
    background-color: #181818;
}

.styling ul li:nth-child(2)::before {  
    background-color: #282828;
}

.styling ul li:nth-child(3)::before {  
    background-color: #383838;
}

.styling ul li:nth-child(4)::before {  
    background-color: #585858;
}

.styling ul li:nth-child(5)::before {  
    background-color: #b8b8b8;
}

.styling ul li:nth-child(6)::before {  
    background-color: #d8d8d8;
}

.styling ul li:nth-child(7)::before {  
    background-color: #e8e8e8;
}

.styling ul li:nth-child(8)::before {  
    background-color: #f8f8f8;
}

.styling ul li:nth-child(9)::before {  
    background-color: #ab4642;
}

.styling ul li:nth-child(10)::before {  
    background-color: #dc9656;
}

.styling ul li:nth-child(11)::before {  
    background-color: #f7ca88;
}

.styling ul li:nth-child(12)::before {  
    background-color: #a1b56c;
}

.styling ul li:nth-child(13)::before {  
    background-color: #86c1b9;
}

.styling ul li:nth-child(14)::before {  
    background-color: #7cafc2;
}

.styling ul li:nth-child(15)::before {  
    background-color: #ba8baf;
}

.styling ul li:nth-child(16)::before {  
    background-color: #a16946;
}

/* end adapted Base16 CSS */